@font-face {
  font-family: "LiteSocialFont";
  src: url("./fonts/VT323-Regular.ttf");
}

*{
  font-family:"LiteSocialFont";
}

input{
  padding-left: 20px;
}

input[type="checkbox"]{
  accent-color: black;
}

body::selection{
  background-color: black;
  color: white;
}

.hideScrollbar::-webkit-scrollbar{
  display: none;
}

.opt-gredient{
  background: linear-gradient(to right , black,#000000a7,#000000a4,transparent);
}

.opt-gredient-sm{
  background: linear-gradient(to top , black,#000000a7,#000000a4,transparent);
}
