@font-face {
  font-family: "LiteSocialFont";
  src: url("./fonts/VT323-Regular.ttf");
}

*{
  padding: 0;
  margin: 0;
  font-family:"LiteSocialFont";
}

input{
  padding-left: 20px;
}

input[type="checkbox"]{
  accent-color: black;
}

body::selection{
  background-color: black;
  color: white;
}